.memain {
    display: flex;
}

.maind1 {
    width: 50%;
    margin-left: 10%;
}

.maind2 {
    width: 50%;
    margin-top: 8%;
    margin-left: 15%;
}

.impme {
    width: 60%;
    margin-top: 10%;
}





@media only screen and (min-width: 0px) and (max-width: 650px){
    .memain{
        flex-direction: column;
    }

    .maind2{
        width: 70%;
    }

    .maind1{
        margin-top: -30%;
        width: 30%;
        margin-left: 50%;
    }

    .impme{
        visibility: hidden;
    }
}


@media only screen and (min-width: 650px) and (max-width: 800px){
    .impme{
        margin-top: 50%;
        width: 80%;
    }
}


@media only screen and (min-width: 800px) and (max-width: 950px){
    .impme{
        margin-top: 40%;
        width: 80%;
    }
}

@media only screen and (min-width: 950px) and (max-width: 1150px){
    .impme{
        margin-top: 20%;
    }
}