*,html {
    box-sizing: border-box;
}


body {
    width: 100%;
    font-family: 'Forum', cursive;
    background-color: white;
}

header {
    margin-top: -2%;
}

.headflex {
    display: flex;
    margin-left: -50%;
    margin-bottom: -7%;
}

.editbu :hover{
    background-color: #3e4a7e;
}

.editb :hover {
    background-color: white;
}

.mainlogo {
    font-size: 30px;
    margin-left: -100%;
}

.headsec1 {
    margin-left: 180%;
}

.secul{
    margin-left: -600%;
}

.aaa:hover{
    border-bottom: 3px solid blue;
}

.bbb:hover{
    border-bottom: 3px solid blue;
}

.work {
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 10%;
}

::selection{
    color: #fff;
    background: #3e4a7e;
  }
  .skill-bars{
    padding: 25px 30px;
    width: 480px;
  }
  .skill-bars .bar{
    margin: 20px 0;
  }
  .skill-bars .bar:first-child{
    margin-top: 0px;
  }
  .skill-bars .bar .info{
    margin-bottom: 5px;
  }
  .skill-bars .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .skill-bars .bar .progress-line{
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #3e4a7e;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .bar .progress-line.html span{
    width: 90%;
  }
  .bar .progress-line.css span{
    width: 60%;
  }
  .bar .progress-line.jquery span{
    width: 85%;
  }
  .bar .progress-line.python span{
    width: 50%;
  }
  .bar .progress-line.mysql span{
    width: 75%;
  }
  .progress-line span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  .progress-line span::after{
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  @keyframes showText2 {
    100%{
      opacity: 1;
    }
  }
  .progress-line.html span::after{
    content: "90%";
  }
  .progress-line.css span::after{
    content: "60%";
  }
  .progress-line.jquery span::after{
    content: "85%";
  }
  .progress-line.python span::after{
    content: "50%";
  }
  .progress-line.mysql span::after{
    content: "75%";
  }

  .main3 {
    display: flex;
    margin-top: 6%;
    background-color: #f2f5fa;
  }

  .pic {
    width: 33.12%;
   }

   .main3div1 {
    width: 60%;
    margin-top: 5%;
    margin-left: 15%;
   }

   .main3div2{
    width: 40%;
    margin-left: 10%;
    margin-top: 5%;
   }




.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

  @media only screen and (min-width: 0px) and (max-width:991px){
  .secul{
    margin-top: 20%;
    margin-left: -600%;
}
  }

  @media only screen and (min-width: 650px) and (max-width: 790px){
    .mainlogo {
        font-size: 30px;
        margin-left: -50%;
    }
    
    .headsec1 {
        margin-left: 150%;
    }
    
    .secul{
        margin-left: -500%;
    }
    
  }

  @media only screen and (min-width: 550px) and (max-width: 650px){
    .mainlogo {
        font-size: 30px;
        margin-left: -20%;
    }
    
    .headsec1 {
        margin-left: 120%;
    }
    
    .secul{
        margin-left: -400%;
    }
    
  }

  @media only screen and (min-width: 430px) and (max-width: 550px){
    .mainlogo {
        font-size: 30px;
        margin-left: 5%;
    }
    
    .headsec1 {
        margin-left: 100%;
    }
    
    .secul{
        margin-left: -300%;
    }
    
  }

  @media only screen and (min-width: 0px) and (max-width: 430px){
    .mainlogo {
        font-size: 30px;
        margin-left: 10%;
    }
    
    .headsec1 {
        margin-left: 70%;
    }
    
    .secul{
        margin-left: -180%;
    }
    
  }



  

  
/* This is the mobile responsiveness */
@media only screen and (min-width: 0px) and (max-width: 400px){
    .logo{
        margin-left: -28%;
    }

    .logo a {
        color: black;
        font-size: 26px;
    }

    .mainul{
        margin-top: -27%;
    }

    .maindiv {
        margin-left: 0px;
        margin-top: -10px;
        margin-bottom: -10px;
        
    }

    .bran {
        font-size: 25px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

.headmainnavitem {
    font-size: 18px;
}

.headmainnavitems {
    margin-left: 75%;
}

.ss {
    margin-top: 50px;
}

.me {
    width: 80%;
    margin-left: 0%;
    border: 10px solid #f2f5fa;
    border-bottom: #3e4a7e;
}

.mainnavitems {
    display: flex;
    margin-left: 0px;
    margin-top: 0px;
}

.mainnavitem {
    list-style: none;
    margin-left: 0%;
    font-size: 14px;
}

.headmainnavitem a:hover,
.headmainnavitem a:active{
    color: #3e4a7e9f;
}

.mainnavitem a:hover,
.mainnavitem a:active{
    color: #3e4a7e9f;
}

.mainnavitem a {
    text-decoration: none;
    color: black;
}

.bran {
    margin-top: 20px;
    list-style: none;
    font-size: 25px;
}

.bran a {
    text-decoration: none;
    color: black;
}

.back {
    background-color:#3e4a7e;
    margin-left: 0px;
}

.othermain {
    background-color: #f2f5fa;
    margin-left: 30%;
    margin-top: 3%;
    padding-bottom: 5%;
}

.mainh1 {
    margin-top: -150px;
    margin-left: 50%;
    margin-right: 0px;
    font-size: 25px;
    color: black;
}

.mainp {
    margin-left: 5%;
    margin-right: 2%;
    margin-top: 25%;
    font-size: 16px;
    color: black
}

.aaa {
    margin-top: 10%;
    margin-right: 10px;
}

.aa {
    margin-left: 0px;
}

.line {
    border-bottom: 2px solid black;
    margin-top: 10px;
}

.mainintro {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.pix {
    width: 35%;
}


.flexme {
    display: flex;
    flex-direction: column;
}

.sech1{
    margin-top: -30%;
    margin-bottom: 20%;
    margin-left: 37%;
    margin-right: 10%;
    font-size: 25px;
}

.sech3 {
    font-size: 20px;
    margin-left: 8%;
    margin-right: 10%;
}

.sec1 {
    width: 100%;
    margin-left: 8%;
}

.sec1 p {
    margin-right: 10%;
}

.sec2 {
    width: 50%;
    margin-right: 15%;
    margin-top: 0%;
    margin-left: 0%;
}

.skill-bars{
    padding: 25px 30px;
    width: 300px;
  }


}






/* This is the mini tab responsiveness */

@media only screen and (min-width: 401px) and (max-width: 661px){
    .maindiv {
        margin-left: 0px;
        margin-top: -10px;
        margin-bottom: -10px;
        
    }

    .sech3 {
        margin-top: 20%;
    }

    .bran {
        font-size: 35px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

.headmainnavitem {
    font-size: 18px;
}

.headmainnavitems {
    margin-left: 75%;
}

.ss {
    margin-top: 50px;
}

.me {
    width: 80%;
    margin-left: 0%;
    border: 10px solid #f2f5fa;
    border-bottom: #3e4a7e;
}

.mainnavitems {
    display: flex;
    margin-left: 0px;
    margin-top: 0px;
}

.mainnavitem {
    list-style: none;
    margin-left: 5%;
    font-size: 16px;
}

.mainnavitem a:hover,
.mainnavitem a:active{
    color: #3e4a7e9f;
}

.mainnavitem a {
    text-decoration: none;
    color: black;
}

.bran {
    margin-top: 20px;
    list-style: none;
    font-size: 25px;
}

.bran a {
    text-decoration: none;
    color: black;
}

.back {
    background-color:#3e4a7e;
    margin-left: 0px;
}

.othermain {
    background-color: #f2f5fa;
    margin-left: 30%;
    margin-top: 3%;
    padding-bottom: 5%;
}

.mainh1 {
    margin-top: -150px;
    margin-left: 50%;
    margin-right: 0px;
    font-size: 30px;
    color: black;
}

.mainp {
    margin-left: 5%;
    margin-right: 2%;
    margin-top: 25%;
    font-size: 18px;
    color: black
}

.aaa {
    margin-top: 10%;
    margin-right: 10px;
}

.aa {
    margin-left: 0px;
}

.line {
    border-bottom: 2px solid black;
    margin-top: 10px;
}

.mainintro {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.pix {
    width: 35%;
}


.flexme {
    display: flex;
    flex-direction: column;
}

.sech1{
    margin-top: -20%;
    margin-bottom: 15%;
    margin-left: 37%;
    margin-right: 10%;
    font-size: 25px;
}

.sech3 {
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.sec1 {
    width: 100%;
    margin-left: 10%;
}

.sec1 p {
    margin-right: 15%;
}

.sec2 {
    width: 50%;
    margin-right: 15%;
    margin-top: 0%;
    margin-left: 5%;
}

.skill-bars{
    padding: 25px 30px;
    width: 400px;
  }


}





/* This is the tab/ipad responsiveness */
@media only screen and (min-width: 660px) and (max-width: 1000px){

    .maindiv {
        margin-left: 0px;
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .bran {
        font-size: 25px;
        margin-left: 50px;
        margin-bottom: 10px;
    }

.headmainnavitem {
    font-size: 18px;
}

.headmainnavitems {
    margin-left: 75%;
}

.ss {
    margin-top: 50px;
}

.me {
    width: 50%;
    margin-left: 20%;
    border: 10px solid #f2f5fa;
    border-bottom: #3e4a7e;
}

.mainnavitems {
    display: flex;
    margin-left: 0px;
    margin-top: 0px;
}

.mainnavitem {
    list-style: none;
    margin-left: 12%;
    font-size: 18px;
}

.mainnavitem a:hover,
.mainnavitem a:active{
    color: #3e4a7e9f;
}

.mainnavitem a {
    text-decoration: none;
    color: black;
}

.bran {
    margin-top: 20px;
    list-style: none;
    font-size: 25px;
}

.bran a {
    text-decoration: none;
    color: black;
}

.back {
    background-color:#3e4a7e;
    margin-left: 60px;
}

.othermain {
    background-color: #f2f5fa;
    margin-left: 35%;
    margin-top: 3%;
    padding-bottom: 5%;
}

.mainh1 {
    margin-top: -100px;
    margin-left: 60%;
    margin-right: 0px;
    font-size: 30px;
    color: black;
}

.mainp {
    margin-left: 65%;
    margin-right: 0px;
    font-size: 16px;
    color: black
}

.aaa {
    margin-top: 10%;
    padding-right: 0px;
}

.aa {
    margin-left: 0px;
}

.line {
    border-bottom: 2px solid black;
    margin-top: 10px;
}

.mainintro {
    margin-top: 100px;
    display: flex;
}

.pix {
    width: 30%;
}

.divintro {
    margin-left: -40%;
}


.flexme {
    display: flex;
    margin-top: 4%;
}

.sec1 {
    width: 50%;
    margin-right: 20px;
}

.sec2 {
    width: 50%;
    margin-right: 60px;
    margin-top: -5%;
    
}

.skill-bars{
    padding: 25px 30px;
    width: 300px;
  }

}


@media only screen and (min-width: 992px) and (max-width: 1200px){
    .secul{
        margin-left: -190%;
    }

}


/* This is the laptop responsiveness */
@media only screen and (min-width: 1001px) and (max-width: 1200px){

    .maindiv {
        margin-left: 0px;
        margin-top: -10px;
        margin-bottom: -10px;
    }
    
    .bran {
        font-size: 27px;
        margin-left: 50px;
        margin-bottom: 12px;
    }
    
    .headmainnavitem {
        font-size: 20px;
        margin-left: 20px;
    }
    
    .headmainnavitems {
        margin-left: 72%;
    }
    
    .ss {
        margin-top: 50px;
    }
    
    .me {
        width: 35%;
        margin-left: 30%;
        border: 10px solid #f2f5fa;
        border-bottom: #3e4a7e;
    }
    
    .mainnavitems {
        display: flex;
        margin-left: 0px;
        margin-top: 0px;
    }
    
    .mainnavitem {
        list-style: none;
        margin-left: 10%;
        font-size: 18px;
    }
    
    .mainnavitem a :hover,
    .mainnavitem a :active{
        color: #3e4a7e9f;
    }
    
    .mainnavitem a {
        text-decoration: none;
        color: black;
    }
    
    .bran {
        margin-top: 20px;
        list-style: none;
        font-size: 25px;
    }
    
    .bran a {
        text-decoration: none;
        color: black;
    }
    
    .back {
        background-color:#3e4a7e;
        margin-left: 60px;
    }
    
    .othermain {
        background-color: #f2f5fa;
        margin-left: 550px;
        margin-top: 7%;
        padding-bottom: 3%;
    }
    
    .mainh1 {
        margin-top: -170px;
        margin-left: 55%;
        margin-right: 50px;
        font-size: 35px;
        color: black;
    }
    
    .mainp {
        margin-left: 60%;
        margin-right: 50px;
        font-size: 18px;
        color: black
    }
    
    .aaa {
        margin-top: 10%;
        padding-right: 0px;
    }
    
    .aa {
        margin-left: 15px;
    }
    
    .line {
        border-bottom: 2px solid black;
        margin-top: 10px;
    }

    .mainintro {
        margin-top: 100px;
        display: flex;
    }
    
    .pix {
        width: 30%;
    }

    .divintro {
        margin-left: -40%;
    }
    
    
    .flexme {
        display: flex;
        margin-top: 4%;
    }
    
    .sec1 {
        width: 50%;
        margin-right: 30px;
    }
    
    .sec2 {
        width: 50%;
        margin-right: 100px;
        margin-top: -5%;
        
    }

    .skill-bars{
        padding: 25px 30px;
        width: 350px;
      }
}




/* This is the laptop responsiveness */
@media only screen and (min-width: 1201px) and (max-width: 1600px){

    .mainlogo {
        margin-left: -150%;
    }

    .secul{
        margin-left: -150%;
    }

    .maindiv {
        margin-left: 0px;
        margin-top: -10px;
        margin-bottom: -10px;
    }
    
    .bran {
        font-size: 27px;
        margin-left: 50px;
        margin-bottom: 12px;
    }
    
    .headmainnavitem {
        font-size: 20px;
        margin-left: 20px;
    }
    
    .headmainnavitems {
        margin-left: 72%;
    }
    
    .ss {
        margin-top: 50px;
    }
    
    .me {
        width: 35%;
        margin-left: 30%;
        border: 10px solid #f2f5fa;
        border-bottom: #3e4a7e;
    }
    
    .mainnavitems {
        display: flex;
        margin-left: 0px;
        margin-top: 0px;
    }
    
    .mainnavitem {
        list-style: none;
        margin-left: 10%;
        font-size: 18px;
    }
    
    .mainnavitem a :hover,
    .mainnavitem a :active{
        color: #3e4a7e9f;
    }
    
    .mainnavitem a {
        text-decoration: none;
        color: black;
    }
    
    .bran {
        margin-top: 20px;
        list-style: none;
        font-size: 25px;
    }
    
    .bran a {
        text-decoration: none;
        color: black;
    }
    
    .back {
        background-color:#3e4a7e;
        margin-left: 60px;
    }
    
    .othermain {
        background-color: #f2f5fa;
        margin-left: 700px;
        margin-top: 7%;
        padding-bottom: 3%;
    }
    
    .mainh1 {
        margin-top: -170px;
        margin-left: 55%;
        margin-right: 50px;
        font-size: 35px;
        color: black;
    }
    
    .mainp {
        margin-left: 60%;
        margin-right: 50px;
        font-size: 18px;
        color: black
    }
    
    .aaa {
        margin-top: 10%;
        padding-right: 0px;
    }
    
    .aa {
        margin-left: 15px;
    }
    
    .line {
        border-bottom: 2px solid black;
        margin-top: 10px;
    }

    .mainintro {
        margin-top: 100px;
        display: flex;
    }
    
    .pix {
        width: 35%;
    }

    .divintro {
        margin-left: -30%;
    }
    
    
    .flexme {
        display: flex;
        margin-top: 4%;
    }
    
    .sec1 {
        width: 50%;
        margin-right: 50px;
    }
    
    .sec2 {
        width: 50%;
        margin-right: 50px;
        margin-top: -3%;
        
    }

}





.container{
    display: flex;
    width: 420px;
    padding: 50px 0;
    border-radius: 8px;
    background: #fff;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
}



  .downArrow{
      bottom: 45%;
      left: 50%;
  }
  .bounce {
      -moz-animation: bounce 3s infinite;
      -webkit-animation: bounce 3s infinite;
      animation: bounce 3s infinite;
      margin-top: 7%;
      margin-bottom: 7%;
      margin-left: 40%;
  }
  @-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    60% {
      -moz-transform: translateY(-15px);
      -ms-transform: translateY(-15px);
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px);
    }
  }
  /* Demo Purpose Only*/
  .demo {
    font-family: 'Raleway', sans-serif;
      color:#fff;
      display: block;
      margin: 0 auto;
      padding: 15px 0;
      text-align: center;
  }
  .demo a{
    font-family: 'Raleway', sans-serif;
  color: #2ecc71;		
  }


