
.maind2 {
    width: 50%;
    margin-top: 8%;
    margin-left: 25%;
    text-align: center;
}

.bounce{
    margin-left: 2%;
}



.workmain {
    display: flex;
    background-color: #C5C9EE;
    margin-top: 15%;
}

.purple {
    background-color: #e3cdf7;
    
}

.abc {
    margin-top: 10%;
}

.workmainn {
    display: flex;
    background-color: #FEBC0D;
    margin-top: 15%;
}

.red {
    background-color: #FF2F2F;
}

.forward {
    margin-top: 0%;
}

.workmain1 {
    width: 30%;
    margin-left: 5%;
}

.workmain3 {
    width: 30%;
    margin-left: 2%;
}


.workmain2 h2 {
    margin-left: 10%;
    margin-right: 10%;
}

.workmain2 p {
    margin-left: 10%;
    margin-right: 10%;
}

.workmain2 button {
    margin-left: 10%;
    margin-right: 10%;
}

.workimg {
    width: 200%;
    margin-top: -40%;
    margin-bottom: -40%;
}

.workimg2 {
    width: 200%;
    margin-top: 0%;
    margin-left: -10%;
    margin-bottom: -40%;
}

.workimg3 {
    width: 186%;
    margin-top: 0%;
    margin-bottom: -40%;
}

.workimg4 {
    width: 178%;
    margin-top: 0%;
    margin-left: -10%;
    margin-bottom: -40%;
}

.buttondesign{
    background-color: white;
    border: 2px solid white;
    margin-bottom: 15%;
}

.buttondesign a {
    color: black;
    text-decoration: none;
}
